/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body{
    background-color: aqua;
  }

.Titulo-ppal{
    margin-bottom: 10px;
    font: "Noto Sans", sans-serif;
    color: rgb(36, 87, 134);
    background: linear-gradient(to top, rgba(235, 236, 213, 0.671), rgb(249, 250, 174));
    font-size: x-large;
    width: 100%;
    text-align: center;
    
  }

.descripcion{
    margin-top: 10px;
    margin-bottom: 10px;
    font: "Noto Sans", sans-serif;
    color: black;
    font-size: normal;
    width: 100%;
    text-align: center;
}

#cantidadPersonasForm{
  margin-top: 10px;
  margin-bottom: 10px;
  font: "Noto Sans", sans-serif;
  color: black;
  font-size: normal;
  width: 100%;
  }

  #calcularIMCForm{
    margin-top: 10px;
    margin-bottom: 10px;
    font: "Noto Sans", sans-serif;
    color: black;
    font-size: normal;
    width: 100%;
    }


  /* Estilos para el mensaje de error */
.modal {
  display: none; /* Ocultar por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(179, 228, 44, 0.5); 
}

.modal-content {
  background-color: #ee1616;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#mensajeErrorTexto{
  color: white;
  font-weight: bold;
}



